extends layout

block content

  #page-container
    nav#slide-menu.slide-menu
      each movie in data
        a(href='#')= movie.name

    
    .content
      header
        a.menu.open-menu(href='#slide-menu') &#x2630;
        |             
        a.menu.close-menu(href='#') &#x2630;

      div.container
        h1= title
        p Welcome to #{title}

