extends layout

block content
	.container
		div.options
			.btn-group(role='group')
				button.btn.btn-primary.badge-btn(type='button') 
					a(href='/newuser') Add New Player
			br
			.btn-group(role='group')
				button.btn.btn-primary.badge-btn(type='button')
					a(href='/newgame') New Game
			br
			.btn-group(role='group')
				button.btn.btn-primary.badge-btn(type='button')
					a(href='/standings') Standings
			br
			.btn-group(role='group')
				button.btn.btn-primary.badge-btn(type='button')
					a(href='/userlist') Player List