extends layout

block content
	.container
		h1 Player List
		table.table.table-striped
			thead
				tr
					th #
					th First Name
					th Last Name
					th Email
			tbody
				each user, i in userlist
					tr
						td=i+1
						td=user.fname
						td=user.lname
						td=user.email