.container {
	overflow: hidden;
    overflow-x: auto;
}

.options {
	margin-top: 100px;
	text-align: center;

	.badge-btn {
		margin-bottom: 15px;
		width: 250px;

		a {
			text-decoration: none;
		}
	}
}

.btn-primary {
	a {
		color: #fff;

		&:hover,
		&.focus {
			color: #fff;
			text-decoration: none;
		}
	}
}

.positive {
	color: green;
}

.negative {
	color: red;
}